In [1]:
normal_form = pd.read_csv('normal_form.csv')
restaurant_data = pd.read_csv('Output_part_1.csv')

In [2]:
normal_form.head()

   Restaurant_ID    Restaurant_Name  ... Rating price_for_one
0              1    Ovenstory Pizza  ...    4.3         ₹ 300
1              1    Ovenstory Pizza  ...    4.3         ₹ 300
2              2  Empire Restaurant  ...    4.0         ₹ 300
3              2  Empire Restaurant  ...    4.0         ₹ 300
4              2  Empire Restaurant  ...    4.0         ₹ 300

[5 rows x 10 columns]

In [4]:
restaurant_data.head()

                     name        lat       long  ...  rating price           place
0         Ovenstory Pizza  12.978170  77.638320  ...     4.3   300     indiranagar
1       Empire Restaurant  12.967272  77.608976  ...     4.0   300    brigade road
2  Leon's Burgers & Wings  12.997726  77.610958  ...     4.3   300     frazer town
3                Truffles  12.971928  77.601063  ...     4.4   300  st. marks road
4          Domino's Pizza  12.980872  77.640593  ...     4.1   300     indiranagar

[5 rows x 8 columns]

In [188]:
cuisine = input().lower().strip()
pref = int(input())
location = input().lower().strip()

pizza
200
indiranagar

In [190]:
def pop_rest(location,cusine):
    popular_cus = ''
    popular_cusine = normal_form[normal_form['Location'] == location].groupby('cusine')['cusine'].count().sort_values(ascending=False)
    popular_cusine =  popular_cusine[popular_cusine == popular_cusine.max()].index.tolist()
    if len(popular_cusine) == 1:
        popular_cus = popular_cusine[0]
    else:
        for i in popular_cusine:
            if i not in popular_cusine[-1]:
                popular_cus += i
                popular_cus += ','
            else:
                popular_cus += i
    
    popular_restaurant_cusine = restaurant_data[(restaurant_data['cusine'].str.contains(cusine)) & (restaurant_data['place'] == location)].sort_values(['review','rating'],ascending= False).iloc[0][0]
    
    avg_price = restaurant_data['price'][restaurant_data['place'] == location]
    
    most_popular_restaurant = restaurant_data[restaurant_data['place'] == location].sort_values(['review','rating'],ascending=False)
    
    return [round(avg_price.mean(),0),popular_cus,most_popular_restaurant.iloc[0][0],most_popular_restaurant.iloc[0][4],popular_restaurant_cusine]

In [191]:
pop_rest(location,cuisine)

[211.0,
 'north indian',
 'BOX8 - Desi Meals',
 'north indian, wraps, fast food, biryani, desserts, beverages',
 'MOJO Pizza - 2X Toppings']