In [1]:
restaurant_details = pd.read_csv('restaurant_details.csv')
restaurant_info = pd.read_csv('restaurant_info.csv')

In [2]:
restaurant_data = restaurant_details.merge(restaurant_info,left_index=True,right_index=True)

In [4]:
restaurant_data.head()

,name,locality,lat,long,review,rest_id,restaurant,link,cusine,rating,price
0,Ovenstory Pizza,"541, 1st Floor, Binnamangla, CMH Road, Mahadev...",12.978170,77.638320,5111,1,Ovenstory Pizza,https://www.zomato.com/bangalore/ovenstory-piz...,"Pizza, Fast Food",4.3,₹300 for one
1,Empire Restaurant,"35, Castle Street, Brigade Road, Bangalore",12.967272,77.608976,3587,2,Empire Restaurant,https://www.zomato.com/bangalore/empire-restau...,"North Indian, Biryani, Kebab, Chinese, South I...",4.0,₹300 for one
2,Leon's Burgers & Wings,"90, Coles Road, Opposite Reliance Fresh, Pulke...",12.997726,77.610958,18,3,Leon's Burgers & Wings,https://www.zomato.com/bangalore/leons-burgers...,"Burger, Fast Food, Wraps, Street Food, Dessert...",4.3,₹300 for one
3,Truffles,"Vasavi Complex, St. Marks Road, Bangalore",12.971928,77.601063,1960,4,Truffles,https://www.zomato.com/bangalore/truffles-2-st...,"Burger, American, Bakery, Italian, Oriental, C...",4.4,₹300 for one
4,Domino's Pizza,"308, 2nd Stage, 100 Feet Road, Indiranagar, Ba...",12.980872,77.640593,419,5,Domino's Pizza,https://www.zomato.com/bangalore/dominos-pizza...,"Pizza, Fast Food, Desserts, Beverages",4.1,₹300 for one

In [5]:
def price(x):
    return int(x.split()[0][1:])

def place(x):
    return x.split(',')[-2].lower().strip()

def cus(x):
    return x.lower().strip()

In [6]:
restaurant_data.drop(['restaurant','rest_id','link'],axis=1,inplace=True)

In [7]:
restaurant_data['Location'] = restaurant_data['locality'].apply(lambda x : place(x))
restaurant_data['price'] = restaurant_data['price'].apply(lambda x : price(x))

In [8]:
restaurant_data['cusine'] = restaurant_data['cusine'].apply(lambda x : cus(x))

In [9]:
restaurant_data.drop('locality',axis=1,inplace=True)

In [10]:
restaurant_data.to_csv('restaurant_data.csv',index = False)

In [11]:
normal_form = pd.read_csv('1NF data.csv')

In [12]:
normal_form.head()

,Restaurant_ID,Restaurant_Name,restaurant_link,cusine,Location,Latitude,Longitude,delivery_review_number,Rating,price_for_one
0,1,Ovenstory Pizza,https://www.zomato.com/bangalore/ovenstory-piz...,Pizza,Indiranagar,12.978170,77.638321,5111,4.3,₹ 300
1,1,Ovenstory Pizza,https://www.zomato.com/bangalore/ovenstory-piz...,Fast Food,Indiranagar,12.978170,77.638321,5111,4.3,₹ 300
2,2,Empire Restaurant,https://www.zomato.com/bangalore/empire-restau...,North Indian,Brigade Road,12.967272,77.608978,3587,4.0,₹ 300
3,2,Empire Restaurant,https://www.zomato.com/bangalore/empire-restau...,Biryani,Brigade Road,12.967272,77.608978,3587,4.0,₹ 300
4,2,Empire Restaurant,https://www.zomato.com/bangalore/empire-restau...,Kebab,Brigade Road,12.967272,77.608978,3587,4.0,₹ 300

In [13]:
normal_form['cusine'] = normal_form['cusine'].astype(str).apply(lambda x : cus(x))
normal_form['Location'] = normal_form['Location'].astype(str).apply(lambda x : cus(x))

In [14]:
normal_form.to_csv('normal_form.csv',index=False)